In [ ]:
with open(r"C:\Users\james.byers\Data_Engineer\Module_342\Data\my_file.txt", "r+") as fo:
    
    print(fo.read(3)) # prints ‘How’
    print(fo.read(6))  #prints ' Pytho' 
    print(fo.read(6)) #printss 'n Hand'
    print(fo.readline()) # prints 'How Python Handles Files?'
    print(fo.read())	
    print(fo.readlines())

In [ ]:
# Using the same file created from previous section
with open(r"C:\Users\james.byers\Data_Engineer\Module_342\Data\my_file.txt", mode = 'r+') as fo:
  print(fo.read(3)) # prints 'How'
  print(fo.tell())  # prints '3'
  fo.seek(45)    # moves the cursor from 3 to 45
  print(fo.tell()) # prints '45'
  print(fo.read()) # prints 'This is currently the last line\n'

In [ ]:
# Write a list to a file using a loop
def write_names_to_file(names, file_path):
    try:
        with open(file_path, 'w') as f:
            for item in names:
                f.write("%s\n" % item) # finds a pattern of strings | can also just use 'item'
                # f.write('\n'.join(names)) # string begins at the end of line
                print(item)
            print('Names have been written to the file.')
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Example of using the function
names = ['Jessa', 'Eric', 'Bob']

file_path = r"C:\Users\james.byers\Data_Engineer\Module_342\Data\sales.txt"

write_names_to_file(names, file_path)

In [ ]:
with open("./Data/sales.txt", "a+") as fp:
    fp.write("\nJohn")

In [ ]:
more_names = ["\nHaseeb", "\nJimmy", "\nFig", "\nTano"]
with open("./Data/sales.txt", "a+") as fp:
    fp.writelines(more_names)

In [ ]:
with open("./Data/courses.csv", "r+") as csv_file:
    for line in csv_file.readlines():
        c_id, c_name, instructor = line.strip().split(',')
        print(f"{c_id:>5} ==> {c_name:>5} ==> {instructor:5}")

In [ ]:
import xml.etree.ElementTree as ET
# Parse XML file
xml_string = "./Data/movie.xml"
xml_tree = ET.parse(xml_string)

# Get root element
xml_root = xml_tree.getroot()

# Print root element tag name
print(xml_root.tag)
# Get the child elements of the root element
child = xml_root.findall("movie")
print('print name of the Child Elements:')
for child in xml_root:
      print(child.tag, child.attrib)

## Lesson 342.3 Python Integration with SQL

In [ ]:
# Step 1: Import the API Module
import mysql.connector as dbconnect
from mysql.connector import Error

# Step 2: Open the DB Connection
myconnection = dbconnect.connect(
    host="localhost", 
    user="root", 
    password="password",
    database="classicmodels",
    port="3306"
    )
Myconnection = myconnection.get_server_info
print("Connected to MySQL Server version: ", Myconnection)

# Step 3: Prepare & Issue SQL Statements to DB
# Get a cursor
cursor = myconnection.cursor()
SQLQuery ="SELECT ordernumber, SUM(quantityOrdered) AS itemsCount, SUM(priceeach*quantityOrdered) AS total FROM orderdetails GROUP BY ordernumber HAVING total > 1000 AND itemsCount > 600";
# Execute a query
cursor.execute(SQLQuery)            
# get all records
records = cursor.fetchall()   
print("Total number of rows in table: ", cursor.rowcount)    
print("\nPrinting each row")
for row in records:
    print("order number = ", row[0],  )
    print("item counts = ", row[1])
    print("total  = ", row[2], "\n" )
# Close connection
cursor.close()
myconnection.close()

Connected to MySQL Server version:  <bound method MySQLConnectionAbstract.get_server_info of <mysql.connector.connection_cext.CMySQLConnection object at 0x000002091DDCB3B0>>
Total number of rows in table:  22

Printing each row
order number =  10106
item counts =  675
total  =  52151.81

order number =  10126
item counts =  617
total  =  57131.92

order number =  10135
item counts =  607
total  =  55601.84

order number =  10165
item counts =  670
total  =  67392.85

order number =  10168
item counts =  642
total  =  50743.65

order number =  10204
item counts =  619
total  =  58793.53

order number =  10207
item counts =  615
total  =  59265.14

order number =  10212
item counts =  612
total  =  59830.55

order number =  10222
item counts =  717
total  =  56822.65

order number =  10262
item counts =  605
total  =  47065.36

order number =  10275
item counts =  601
total  =  47924.19

order number =  10310
item counts =  619
total  =  61234.67

order number =  10312
item counts =  601
total  =  55639.66

order number =  10316
item counts =  623
total  =  46788.14

order number =  10332
item counts =  621
total  =  47159.11

order number =  10339
item counts =  614
total  =  48927.64

order number =  10360
item counts =  620
total  =  52166.00

order number =  10373
item counts =  605
total  =  46770.52

order number =  10386
item counts =  650
total  =  46968.52

order number =  10390
item counts =  603
total  =  55902.50

order number =  10398
item counts =  629
total  =  46656.94

order number =  10414
item counts =  609
total  =  50806.85

### SQL Statements to DB

- `cursor()` method:
    - Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
- `execute()` method:
    - The execute() method runs the SQL query and returns the result.
- Extract result using `fetchall()`
    - Use `cursor.fetchall()`, `fetchone()` or `fetchmany()` to read the query result.
- Close cursor and connection objects
    - Use `cursor.close()` and `connection.close()` method to close open connections after your work completes.

In [3]:
# Step 5: Utilize Exception Handling
try:
    myconnection = dbconnect.connect(host='localhost',database='classicmodels',user='root',password='password')
    if myconnection.is_connected(): # Verify DB connection is established
        print('Successfully Connected to MySQL database')
        cursor = myconnection.cursor()
        SQLQuery ="SELECT ordernumber, SUM(quantityOrdered) AS itemsCount, SUM(priceeach*quantityOrdered) AS total FROM orderdetails GROUP BY ordernumber HAVING    total > 1000    AND    itemsCount > 600";
        cursor.execute(SQLQuery)
        # get all records
        records = cursor.fetchall()   
        print("Total number of rows in table: ", cursor.rowcount)    
        print("\nPrinting each row")
        for row in records:
            print("order number = ", row[0],  )
            print("item counts = ", row[1])
            print("total  = ", row[2], "\n" )
except Error as e:
        print("Error while connecting to Database", e)
finally:
        if myconnection.is_connected():
            cursor.close()
            myconnection.close()
        print("Database connection is closed")

Successfully Connected to MySQL database
Total number of rows in table:  22

Printing each row
order number =  10106
item counts =  675
total  =  52151.81

order number =  10126
item counts =  617
total  =  57131.92

order number =  10135
item counts =  607
total  =  55601.84

order number =  10165
item counts =  670
total  =  67392.85

order number =  10168
item counts =  642
total  =  50743.65

order number =  10204
item counts =  619
total  =  58793.53

order number =  10207
item counts =  615
total  =  59265.14

order number =  10212
item counts =  612
total  =  59830.55

order number =  10222
item counts =  717
total  =  56822.65

order number =  10262
item counts =  605
total  =  47065.36

order number =  10275
item counts =  601
total  =  47924.19

order number =  10310
item counts =  619
total  =  61234.67

order number =  10312
item counts =  601
total  =  55639.66

order number =  10316
item counts =  623
total  =  46788.14

order number =  10332
item counts =  621
total  =  47159.11

order number =  10339
item counts =  614
total  =  48927.64

order number =  10360
item counts =  620
total  =  52166.00

order number =  10373
item counts =  605
total  =  46770.52

order number =  10386
item counts =  650
total  =  46968.52

order number =  10390
item counts =  603
total  =  55902.50

order number =  10398
item counts =  629
total  =  46656.94

order number =  10414
item counts =  609
total  =  50806.85

Database connection is closed

### Create a Table

In [ ]:
# Assuming that 'userdb' database is already created
conn = dbconnect.connect(database='usersdb', user='root',password='password', port ='3306')
cursor=conn.cursor()
myquery = "CREATE TABLE tasks (task_id INT AUTO_INCREMENT,title VARCHAR(255) NOT NULL,\
start_date DATE,\
due_date DATE,\
priority TINYINT NOT NULL DEFAULT 3,\
description TEXT,\
PRIMARY KEY (task_id))"
cursor.execute(myquery)

### Parameterized Query

In [5]:
def get_laptop_detail(id):
    conn = dbconnect.connect(database='classicmodels', user='root', password='password')
    cursor = conn.cursor()
    sql_select_query = """select * from offices where officeCode = %s"""
    # set variable in query
    cursor.execute(sql_select_query, (id,))
    # fetch result
    record = cursor.fetchall()

    for row in record:
        print("officeCode = ", row[0], )
        print("city = ", row[1])
        print("Phone = ", row[2])
        print("addressline1  = ", row[3], "\n")
        cursor.close()
        conn.close()
        print("MySQL connection is closed\n")

get_laptop_detail(1)
get_laptop_detail(2)

officeCode =  1
city =  San Francisco
Phone =  +1 650 219 4782
addressline1  =  100 Market Street

MySQL connection is closed

officeCode =  2
city =  Boston
Phone =  +1 215 837 0825
addressline1  =  1550 Court Place

MySQL connection is closed

### Insert Data into MySQL Table from Python

- For single row: We can use the execute() method of cursor object to insert a single record.
- For multiple row: We can use the  executemany() method of cursor object to insert multiple records into a table.
- Syntax of the executemany() method.
    - cursor.executemany(operation, seq_of_params)
- Commit your changes
    - You have to explicitly call the  commit() method in order to make the changes to the database. 
- Get the number of rows affected
    - After a successful insert operation, use a cursor.rowcount() method to get the number of rows affected. The count depends on how many rows you are inserting.

### Knowledge Check
1. What does the Python library use to connect to and interact with MySQL databases?
1. What are the five steps involved in using a Python database driver?
1. How do you verify that a database connection has been successfully established?
1. What is a parameterized query and why is it used?

### Summary
- MySQL Connector/Python enables Python programs to access MySQL databases, using an API that is compliant with the Python Database API Specification v2.0 (PEP 249). It is written in pure Python and does not have any dependencies except for the Python Standard Library. Methods include:
    - The cursor() method of a MySQLConnection object is used to create a cursor object to perform various SQL operations.
    - The execute() methods run the SQL query and return the result.
    - The cursor.close() and connection.close() methods are used to close open connections after work completes.
    - The connect() method can throw a Database error exception if one of the required parameters is wrong.