In [4]:
import pyspark
from pyspark.sql import SparkSession
#and import struct types and data types
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,FloatType

In [ ]:
spark_app = SparkSession.builder.appName('sparkdemo').getOrCreate()

# ------create student data with 5 rows and 6 attributes------
students =[['001','john',23,5.79,67,'NY'], ['002','James',18,3.79,34,'NY'], ['003','Eric',17,2.79,17,'NJ'],
               ['004','Shahparan',19,3.69,28,'NJ'],['005','Flex',37,5.59,54,'Dallas']]

#----------define the StructType and StructFields-------
#for the below column names
schema=StructType([
    StructField("rollno",StringType(),True),
    StructField("name",StringType(),True),
    StructField("age",IntegerType(),True),
    StructField("height", FloatType(), True),
    StructField("weight", IntegerType(), True),
    StructField("address", StringType(), True)  ])
 
#-----create the dataframe and add schema to the dataframe---
df = spark_app.createDataFrame(students, schema=schema)
df.show()

+------+---------+---+------+------+-------+
|rollno|     name|age|height|weight|address|
+------+---------+---+------+------+-------+
|   001|     john| 23|  5.79|    67|     NY|
|   002|    James| 18|  3.79|    34|     NY|
|   003|     Eric| 17|  2.79|    17|     NJ|
|   004|Shahparan| 19|  3.69|    28|     NJ|
|   005|     Flex| 37|  5.59|    54| Dallas|
+------+---------+---+------+------+-------+

In [3]:
df.collect()

[Row(rollno='001', name='john', age=23, height=5.789999961853027, weight=67, address='NY'),
 Row(rollno='002', name='James', age=18, height=3.7899999618530273, weight=34, address='NY'),
 Row(rollno='003', name='Eric', age=17, height=2.7899999618530273, weight=17, address='NJ'),
 Row(rollno='004', name='Shahparan', age=19, height=3.690000057220459, weight=28, address='NJ'),
 Row(rollno='005', name='Flex', age=37, height=5.590000152587891, weight=54, address='Dallas')]