# **Guided Lab - 343.3.9 - Adding new column to existing DataFrame in Pandas**


## **Lab Objective:**
- In this lab, we will cover how to add/append multiple columns and add a constant value, deriving new columns from an existing column to the Pandas DataFrame.

- By the end of this lab, learners will be able to add new columns to Panda Dataframe using several approaches.

## **Introduction:**
In Pandas, a DataFrame represents a two-dimensional, heterogenous, tabular data structure with labeled rows and columns (axes). In simple words, it contains three components â€• data, rows, columns.

Let's discuss how to add new columns to the existing DataFrame in Pandas. There are multiple ways we can do this task.

## **Instructions**

## **Method #1: By Dictionary and declaring a new list as a column.**

**Example 1.1:**

Note that the length of your list should match the length of the index column; otherwise, it will show an error.
import pandas as pd

In [1]:
import pandas as pd

In [3]:
# Define a dictionary containing Students data and their respective details
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
        'Score 1' : [56,86,77,45],
        'Score 2' : [50,96,60,30]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)


# Declare a list that is to be converted into a column
address = ['NYC', 'NJ', 'CA', 'PA']

# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address
print("------after adding column -------")
# Observe the result
print(df)

# Declare list to convert to a column
gender = ['F', 'F', 'M', 'F']

# Use 'Gender' as column name & add to df
df['Gender'] = gender
print("------add another column-------")
print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2 Address
0    Jane     5.1           Msc       56       50     NYC
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
3    Fadi     5.2           Msc       45       30      PA
------add another column-------
     Name  Height Qualification  Score 1  Score 2 Address Gender
0    Jane     5.1           Msc       56       50     NYC      F
1  Princi     6.2            MA       86       96      NJ      F
2   James     5.1           Msc       77       60      CA      M
3    Fadi     5.2           Msc       45       30      PA      F

**Example: 1.2**

- You can apply basic arithmetic operations such as addition, subtraction, multiplication, and division to Pandas DataFrame objects the same way you would with NumPy arrays:

- The below example adds a new column based on a calculation of the existing column.

In [ ]:
# defining a dictionary containing Students data and their respective details
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)
print("------after adding column -------")
df['Total_Score'] = df['Score 1'] +  df['Score 2'] # add columns & store/add in another column

print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2  Total_Score
0    Jane     5.1           Msc       56       50          106
1  Princi     6.2            MA       86       96          182
2   James     5.1           Msc       77       60          137
3    Fadi     5.2           Msc       45       30           75

**Example: 1.3**

In [7]:
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)
print("------after adding column -------")
#
df['Total_Score'] = df['Score 1'] +  df['Score 2']
df['Total_Score_average'] = df['Total_Score']/ 2
print(df)
df

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2  Total_Score  \
0    Jane     5.1           Msc       56       50          106
1  Princi     6.2            MA       86       96          182
2   James     5.1           Msc       77       60          137
3    Fadi     5.2           Msc       45       30           75

   Total_Score_average
0                 53.0
1                 91.0
2                 68.5
3                 37.5

,Name,Height,Qualification,Score 1,Score 2,Total_Score,Total_Score_average
0,Jane,5.1,Msc,56,50,106,53.0
1,Princi,6.2,MA,86,96,182,91.0
2,James,5.1,Msc,77,60,137,68.5
3,Fadi,5.2,Msc,45,30,75,37.5

**Example: 1.4**

In the below example, we will rearrange columns and skip the height column.

In [ ]:
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
       'Score 2' : [50,96,60,30]
       }

# Convert the dictionary into DataFrame / skipping 'Height' column
df = pd.DataFrame(data,columns = ['Score 1','Score 2','Name', 'Qualification'  ])
print("------before -------")
print(df)
print("------after adding column -------")

df['Total_Score'] = df['Score 1'] +  df['Score 2']
print(df)

------before -------
   Score 1  Score 2    Name Qualification
0       56       50    Jane           Msc
1       86       96  Princi            MA
2       77       60   James           Msc
3       45       30    Fadi           Msc
------after adding column -------
   Score 1  Score 2    Name Qualification  Total_Score
0       56       50    Jane           Msc          106
1       86       96  Princi            MA          182
2       77       60   James           Msc          137
3       45       30    Fadi           Msc           75

Example 1.5

In [12]:
# creating and initializing a list
values = [['Rohan', 455], ['Elvish', 250], ['John', 495],
          ['Sai', 400], ['Eric', 350], ['Adam', 450]]

# creating a pandas dataframe
df = pd.DataFrame(values, columns=['Name', 'Univ_Marks'])

# displaying the data frame

print('Data frame before calculating percentage\n')
print(df)
print('\nData frame with Percentage Column\n')

# Creating new column Percentage derived from Univ_Marks
df["Percentage"] = df["Univ_Marks"]/500*100

# displaying the data frame
print(df)

Data frame before calculating percentage

     Name  Univ_Marks
0   Rohan         455
1  Elvish         250
2    John         495
3     Sai         400
4    Eric         350
5    Adam         450

Data frame with Percentage Column

     Name  Univ_Marks  Percentage
0   Rohan         455        91.0
1  Elvish         250        50.0
2    John         495        99.0
3     Sai         400        80.0
4    Eric         350        70.0
5    Adam         450        90.0

## **Method #2: By using DataFrame.insert() function**

It gives the freedom to add a column at any position we like, and not just at the end. It also provides different options for inserting the column values.

**Example 2.1**

In [ ]:
# Define a dictionary containing Students data
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)

# Using DataFrame.insert() adding age column
#     index,   col, value/content,  allow duplicates
df.insert(2, "Age", [21, 23, 24, 21], True)
print("------after adding column -------")
# Observe the result
print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height  Age Qualification  Score 1  Score 2
0    Jane     5.1   21           Msc       56       50
1  Princi     6.2   23            MA       86       96
2   James     5.1   24           Msc       77       60
3    Fadi     5.2   21           Msc       45       30

## **Method #3: Using Dataframe.assign() function**

**Example 3.1**

This method will create a new dataframe with a new column added to the old dataframe.

**Returns a new object with all original columns in addition to new ones. Existing columns that are re-assigned will be overwritten**

In [19]:
# Define a dictionary containing Students data
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}

print("------before -------")

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
print("------after adding column -------")
# using DataFrame.assign() method adding 'Address' as the column name and adding it to the list
df = df.assign(address = ['NYC', 'NJ', 'CA', 'PA'])

# Observe the result
print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2 address
0    Jane     5.1           Msc       56       50     NYC
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
3    Fadi     5.2           Msc       45       30      PA

In [28]:
df_temp = pd.DataFrame({'temp_c': [17.0, 25.0]},
                        index=['South Carolina', 'Florida'])
print(df_temp)
print('\nAssigning column w/ Lambda:')
# value is a callable, evaluated on df using lambda
print(df_temp.assign(temp_f = lambda x: x.temp_c * 9 / 5 + 32))

                temp_c
South Carolina    17.0
Florida           25.0

Assigning column w/ Lambda:
                temp_c  temp_f
South Carolina    17.0    62.6
Florida           25.0    77.0

## **Submission**
- Submit your completed lab using the Start Assignment button on the assignment page in Canvas.
- Your submission can be include:
  - if you are using notebook then, all tasks should be written and submitted in a single notebook file, for example: (**your_name_labname.ipynb**).
  - if you are using python script file, all tasks should be written and submitted in a single python script file for example: **(your_name_labname.py)**.
- Add appropriate comments and any additional instructions if required.