### SQL Examples With Classic Models Database. These queries and questions cover a range of SQL concepts, including `JOIN`s, `GROUP BY`, `ORDER BY`, aggregate functions, and `CASE` statements:

1. Category Based Queries 
Question: List the product lines and the number of products in each product line. Sort the output by the number of products in descending order.

In [ ]:
SELECT pp.productLine, COUNT(p.productCode) AS total
FROM productlines pp
JOIN products p ON pp.productLine = p.productLine
GROUP BY pp.productLine
ORDER BY total DESC;

2. Specific Month Orders  
Question: List the order date and the number of orders placed in October of each year. Sort the output by order date in ascending order.

3. Customer Orders by Sales Rep  
Question: List the sales rep's first name, last name, and the number of customers they are responsible for. Sort the output by the number of customers in descending order.

4. Payment Average  
Question: List the customer name and their average payment amount. Sort the output by average payment amount in descending order.

5. Product Popularity 
Question: List the product name and the total quantity ordered for each product. Sort the output by the total quantity ordered in descending order.

6. Employee Absence 
Question: List employees who have not made any sales (i.e., they are not listed as `salesRepEmployeeNumber` for any customer).

7. Customer Orders Over Time  
Question: List the year and the total number of orders placed in each year. Sort the output by year in ascending order.

8. Highest Average Order Amount  
Question: Find the order with the highest total amount.

9. Order Average Amount 
Question: List the order number and the total amount for each order. Sort the output by the total amount in descending order.