# Lesson 304.1 Intro to RDBMS, Data Modeling and Normalization
## Learning Objectives
- Describe the DBMS and RDBMs concepts.
- Describe the different relationships in RDBMS.
- Define database standards.
- Describe the Data Modeling concept, including ERD. 
- Describe the normalization and ACID database properties.
- Define SQL.

## Knowledge Check
1. What is DBMS?
1. What is RDBMS?
1. What is Normalization?
1. What is data redundancy?
1. What is ERD, and why do we need it?

## Summary
- The Relational Database Management System represents the database as a collection of relations (tables). Attribute, Tables, Tuple, Relation Schema, Degree, Cardinality, Column, and Relation instance, are some important components of Relational Database Modeling. 
- Data Integrity constraints are referred to as conditions, which must be present for a valid Relation approach in DBMS.
- Domain constraints can be violated if an attribute value is not appearing in the corresponding domain, or if it is not of the appropriate data type.
- Insert, Select, Modify, and Delete are the operations performed in Relational Database Model Diagram constraints.
- The relational database is only concerned with data and not with a structure, which can improve the performance of the model.
- Advantages of the Relational Data Model Diagram in DBMS are simplicity, structural independence, ease of use, query capability, data independence, scalability, etc.
- Few relational databases have limits on field lengths, which cannot be exceeded.
- SQL is a language that is used to manage data that is held in a relational database management system. It uses tables to manipulate and retrieve information from databases for analysis.

***

# Lesson 304.2 Intro to SQL Language
## Learning Objectives:
- Describe the SQL language and MySQL.
- Demonstrate how to install and configure MySQL.
- Download and import data into MySQL.
- Describe DQL, DML, DCL and TCL.
- Utilize DQL, DML, DCL and TCL.

### SELECT Statement Syntax
- SELECT Statement with “DQL” clause ordering:
    - `SELECT [ALL | DISTINCT | DISTINCTROW | Columns | Expressions ] clause specifies columns. to retrieve.`
    - `FROM clause specifies table(s) from which to retrieve.` 
    - `WHERE clause filters rows to retrieve.`
    - `GROUP BY clause specifies how to group results.`
    - `HAVING clause selects among groups.`
    - `ORDER BY clause specifies the row ordering.`
    - `LIMIT clause specifies the limits of the retrieve records.`

## Knowledge Check
1. What is SQL? What is the full form of SQL?
1. What is MySQL? 
1. What are the sublanguages of SQL?
1. What does DML stand for?
1. Can you INSERT data from one table into another table? If so, how?
1. The SQL statement that queries or reads data from a table is __________ .
    - USE
    - SELECT
    - READ
    - QUERY
1. What happens if you do not have a WHERE clause in an UPDATE statement?
1. What is DCL? Provide an explanation of some of the commands.
1. What is TCL? Provide an explanation of some of the commands.
1. Which SQL statement is used to return only different values?
    - SELECT DISTINCT
    - SELECT UNIQUE
    - SELECT DIFF
    - SELECT DIFFERENT

1. Which SQL statement is used to update data in a database?
    - MODIFY
    - ALTER
    - SAVE
    - UPDATE

## Summary
- Structured Query Language (SQL) is a programming language designed to get information out of and into a relational database. Queries are constructed from a command language that lets you select, insert, update, and locate data. SQL is both an American National Standards Institute (ANSI) and an International Standards Organization (ISO) standard although many databases support SQL with proprietary extensions.

- The SQL commands are mainly categorized as follows: 
    1. DDL – Data Definition Language.
    1. DQl – Data Query Language.
    1. DML – Data Manipulation Language.
    1. DCL – Data Control Language.

***

# Lesson 304.3 Data Definition Language and Data Integrity
## Learning Objectives:
- Describe Data Definition Language.
    - helps you to define the database structure and schema (tables, table fields, table constraints, and data integrity).
    - The DDL statements are CREATE, ALTER, and DROP.
- Demonstrate how to create a database in SQL.
- Demonstrate how to create tables in a database.
- Identify the Data Integrity and Data Types.
- Describe Data Integrity and Data Integrity Constraints.

### Knowledge Check
1. What are Referential Integrity constraints in MySQL?
1. What is a Primary Key constraint in MySQL ?
1. What is a Unique Key constraint in MySQL?
1. What qualities maximize the value of a database?
1. What is the difference between a Primary Key constraint and a Unique Key constraint?
1. What is a Composite Key?

## Summary
- Constraints can be specified when a table is created with the CREATE TABLE statement, or you can use the ALTER TABLE statement to create constraints even after the table is created.
Integrity constraints are used to ensure the accuracy and consistency of the data in a relational database. There are four categories of data integrity constraints enforced by a database: 1) domain, 2) entity, 3) referential, and 4) user-defined.
- Some of the most commonly used constraints available in SQL include: 
    - NOT NULL Constraint − Ensures that a column cannot have a NULL value.
    - DEFAULT Constraint − Provides a default value for a column when none is specified.
    - UNIQUE Constraint − Ensures that all values in a column are different.
    - PRIMARY Key − Uniquely identifies each row/record in a database table.
    - FOREIGN Key − Uniquely identifies a row/record in any of the given database tables.
    - CHECK Constraint − Ensures that all of the values in a column satisfy certain conditions.
    - INDEX − Used to create and retrieve data from the database very quickly.
- The SQL CREATE DATABASE statement is used to create a new SQL database, and the SQL CREATE TABLE statement is used to create a new table. SQL Data Types are attributes that specify the type of data of any object.

***

# Lesson 304.4 SQL Clauses
## Learning Objectives:
- Describe the Order By, Group By, Having, and Limit clauses. 
    - Order By - Used to sort records in result set
        - Syntax: `SELECT expressions FROM table WHERE conditions ORDER BY column1 [ASC|DESC], column2 [ASC|DESC];`
        - Example: `SELECT contactLastname, contactFirstname FROM customers ORDER BY contactLastname DESC;`
        - Can also use ORDER BY Clause to sort by `relative position` in the result set, where the first field is 1, & the next field is 2 etc
    - Group By - Groups a set of rows into a set of summary rows by values of columns and returns one row for each group.
        - Often used w/ aggregate functions such as `SUM(), AVG(), MAX(), MIN(), COUNT()` etc. Behaves like DISTINCT when used w/out aggregate functions
        - Syntax: `SELECT c1, c2,..., cn, aggregate_function(ci) FROM table WHERE where_conditions GROUP BY c1 , c2,...,cn;`
        - Example: `SELECT orderNumber, SUM(quantityOrdered * priceEach) AS total FROM orderdetails GROUP BY orderNumber;`
    - Having - Used in the SELECT statement to specify filter conditions for a group of rows or aggregates.
        - Often used w/ GROUP BY to filter groups based on specified condition. Behaves like WHERE clause if GROUP BY is omitted.
        - Cannot use aggregate functions within the WHERE clause.
        - Syntax: `SELECT select_list FROM table_name WHERE search_condition GROUP BY group_by_expression HAVING group_condition;`
        - Example: `SELECT ordernumber, SUM(quantityOrdered) AS itemsCount, SUM(priceeach*quantityOrdered) AS total FROM orderdetails GROUP BY ordernumber HAVING total > 20000;`
        - Example: `SELECT ordernumber, SUM(quantityOrdered) AS itemsCount, SUM(priceeach*quantityOrdered) AS total FROM orderdetails GROUP BY ordernumber HAVING  total > 1000 AND itemsCount > 600;`
        - Supports subqueries
            - Example: `Select customerNumber, avg(amount)  as avgAmount from payments p1 group by customerNumber having avg(amount) > (Select avg(amount) from payments p2) order by 2 desc;`
    - Limit - used in the SELECT statement to constrain the number of rows to return. Accepts one or two arguments, must be zero or positive int
        - Should always be used with ORDER BY clause
        - Syntax: `SELECT  COLUMN_NAME   FROM  table_name LIMIT [offset, row_count];`
            - Offset specifies the offset of the first row to return. The offset of the first row is 0, not 1.
            - Row_count specifies the maximum number of rows to return.
        - Example: `SELECT customerNumber, customerName, creditLimit FROM customers ORDER BY creditLimit DESC LIMIT 5, 2;`
- Explain the Like and Between Operators.
    - Like - Used in the WHERE clause with SELECT , DELETE, and UPDATE statements to filter data based on patterns or searches for a specified pattern in a column.
        - Two wildcards used in conjunction with the LIKE operator:
            - The percent sign ` % ` represents zero, one, or multiple characters. `s%` matches any string starts with the character “s” (e.g., sun or six).
            - The underscore ` _ `  wildcard matches any single character. `se_` matches any string that starts with “se” and is followed by any character (e.g., see or sea).
        - Example: `SELECT * FROM Customers WHERE CustomerName LIKE  'a%';`
    - Between - Selects values (numbers, text, or dates) w/in a given range (Inclusive: begin and end values included).
        - Syntax: `SELECT column_name(s) FROM table_name WHERE column_name BETWEEN value1 AND value2;`
        - Example: `SELECT   productCode, productName, buyPrice FROM products WHERE  buyPrice BETWEEN 90 AND 100;`
        - Example: `SELECT   productCode, productName, buyPrice FROM products WHERE  buyPrice NOT BETWEEN 20 AND 100;`
- Demonstrate the Order By, Group By, Having, and Limit clauses.

### Overview of ORDER BY Clause
#### Written Order
- `SELECT (Return Expressions)  [required]`
- `FROM (specify tables)			[required]`
- `WHERE (Row Filter)		       [optional]`
- `GROUP BY	                  [optional]`
- `HAVING	(Group Filter)	       [optional]`
- `ORDER BY  	                  [optional]`
### Execution Process Order
- `FROM/JOIN` --> `WHERE` --> `GROUP BY` --> `SELECT` --> `DISTINCT` --> `ORDER BY` --> `LIMIT`

## Knowledge Check
- How does the ORDER BY Clause work in SQL?
- When do we use a HAVING clause?
- Which is the default order of Sort in the ORDER BY Clause?
- What is the meaning of the GROUP BY Clause in Mysql?
- What SQL clause is used to restrict the rows returned by a query?
- What is the difference between the percent sign (%) and the underscore (_) for pattern matching (e.g. in the LIKE operator)?

## Summary
- The MySQL ORDER BY clause is used to sort the records in a result set. The MySQL WHERE clause is used to filter the results from a SELECT, INSERT, UPDATE, or DELETE statement.
- The MySQL GROUP BY clause is used in a SELECT statement to collect data across multiple records and group the results by one or more columns.
- The MySQL HAVING clause is used in combination with the GROUP BY clause to restrict the groups of returned rows to only those whose condition is TRUE.
- The MySQL LIMIT clause is used to retrieve records from one or more tables in MySQL and limit the number of records returned based on a limit value.
- The MySQL BETWEEN Condition is used to retrieve values within a range in a SELECT, INSERT, UPDATE, or DELETE statement.
- The MySQL LIKE condition allows wildcards to be used in the WHERE clause of a SELECT, INSERT, UPDATE, or DELETE statement. This allows you to perform pattern matching.
- MySQL system clauses are keywords or statements to handle information. It helps to operate a group of the data and apply it to required conditions. The clauses apply conditions or select patterns to get information. MySQL clauses are not used to insert new data. You retrieve data using several clauses. The table uses either single or multiple clauses.

***

# Lesson 304.5 Aggregate Functions and Operators

## Section 1 Aggregate Function 
## Learning Objective:
- Describe aggregate functions.
- Demonstrate aggregate functions.

## Section 2 SQL Operators
## Learning Objective:
- Describe SQL operators, including Logical Operators, Arithmetic Operators, Comparison Operators.
- Explain common SQL operators.