### SQL Examples With Classic Models Database. These queries and questions cover a range of SQL concepts, including `JOIN`s, `GROUP BY`, `ORDER BY`, aggregate functions, and `CASE` statements:

1. Category Based Queries 
Question: List the product lines and the number of products in each product line. Sort the output by the number of products in descending order.

In [ ]:
SELECT pp.productLine, COUNT(p.productCode) AS total
FROM productlines pp
JOIN products p ON pp.productLine = p.productLine
GROUP BY pp.productLine
ORDER BY total DESC;

2. Specific Month Orders  
Question: List the order date and the number of orders placed in October of each year. Sort the output by order date in ascending order.

In [ ]:
SELECT orderDate, COUNT(orderDate) AS num_of_orders
FROM orders
WHERE MONTH(orderDate) = 10
GROUP BY orderDate;

SELECT o.orderDate, SUM(od.quantityOrdered) AS num_of_orders
FROM orders o
JOIN orderdetails od ON o.orderNumber=od.orderNumber
WHERE MONTH(orderDate) = 10
GROUP BY orderDate;

3. Customer Orders by Sales Rep  
Question: List the sales rep's first name, last name, and the number of customers they are responsible for. Sort the output by the number of customers in descending order.

In [ ]:
SELECT e.firstName, e.lastName, COUNT(c.customerNumber) AS NumberOfCustomers
FROM employees e
JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
GROUP BY e.employeeNumber
ORDER BY NumberOfCustomers DESC;

4. Payment Average  
Question: List the customer name and their average payment amount. Sort the output by average payment amount in descending order.

In [ ]:
SELECT c.customerName, AVG(p.amount) AS AveragePayment
FROM customers c
JOIN payments p ON c.customerNumber = p.customerNumber
GROUP BY c.customerNumber
ORDER BY AveragePayment DESC;

5. Product Popularity 
Question: List the product name and the total quantity ordered for each product. Sort the output by the total quantity ordered in descending order.

In [ ]:
SELECT p.productName, SUM(od.quantityOrdered) AS TotalQuantityOrdered
FROM products p
JOIN orderdetails od ON p.productCode = od.productCode
GROUP BY p.productName
ORDER BY TotalQuantityOrdered DESC;

6. Employee Absence 
Question: List employees who have not made any sales (i.e., they are not listed as `salesRepEmployeeNumber` for any customer).

In [ ]:
SELECT e.firstName, e.lastName
FROM employees e
LEFT JOIN customers c ON e.employeeNumber = c.salesRepEmployeeNumber
WHERE c.salesRepEmployeeNumber IS NULL;

7. Customer Orders Over Time  
Question: List the year and the total number of orders placed in each year. Sort the output by year in ascending order.

In [ ]:
SELECT YEAR(orderDate) AS OrderYear, COUNT(orderNumber) AS TotalOrders
FROM orders
GROUP BY OrderYear
ORDER BY OrderYear ASC;

8. Highest Average Order Amount  
Question: Find the order with the highest total amount.

In [ ]:
SELECT orderNumber, SUM(quantityOrdered * priceEach) AS TotalAmount
FROM orderdetails
GROUP BY orderNumber
ORDER BY TotalAmount DESC
LIMIT 1;

9. Order Average Amount 
Question: List the order number and the total amount for each order. Sort the output by the total amount in descending order.

In [ ]:
SELECT orderNumber, SUM(quantityOrdered * priceEach) AS TotalAmount
FROM orderdetails
GROUP BY orderNumber
ORDER BY TotalAmount DESC;