In [ ]:
-- 2. Lists number of courses of each department
SELECT d.name AS Department, COUNT(c.name) AS Number_of_Courses
FROM department d
JOIN course c ON d.id=c.deptId
GROUP BY Department
ORDER BY Number_of_Courses, Department;

In [ ]:
-- 3. Lists course and number of students in that course
SELECT c.name AS Course_Name, COUNT(sc.studentId) AS Number_of_Students
FROM course c
JOIN studentCourse sc ON c.id=sc.courseId
JOIN student s ON sc.studentId=s.id 
GROUP BY Course_Name
ORDER BY Number_of_Students DESC, Course_Name ASC;

In [ ]:
-- 4. List courses without faculty
SELECT c.name AS Course_Name
FROM course c
LEFT JOIN facultyCourse fc ON c.id=fc.courseId
LEFT JOIN faculty f ON fc.facultyId=f.id 
WHERE f.id IS NULL
GROUP BY Course_Name
ORDER BY Course_Name ASC;

In [ ]:
-- 5. List # of students in courses without faculty
SELECT c.name AS Course_Name, COUNT(sc.studentId) AS Number_of_Students
FROM course c
LEFT JOIN facultyCourse fc ON c.id=fc.courseId
LEFT JOIN faculty f ON fc.facultyId=f.id
LEFT JOIN studentCourse sc ON c.id=sc.courseId 
WHERE f.id IS NULL
GROUP BY Course_Name
ORDER BY Number_of_Students DESC, Course_Name ASC;

In [ ]:
-- 6. Lists total # of students enrolled each year
SELECT COUNT(DISTINCT(studentId)) AS Students, YEAR(startDate) AS Year
FROM studentCourse
GROUP BY Year
ORDER BY Year ASC, Students DESC;

In [ ]:
-- 7 Lists Start Date and # of Students enrolled in August of each year
SELECT startDate AS Start_Date, COUNT(DISTINCT(studentId)) AS Total_Number_of_Students
FROM studentCourse
GROUP BY Start_Date
HAVING MONTH(startDate) = 8
ORDER BY Start_Date, Total_Number_of_Students;

In [ ]:
-- 8. List students Name and # of Courses in their major
SELECT s.firstname AS First_Name, s.lastname AS Last_Name, COUNT(c.deptId) AS Number_of_Courses
FROM student s
JOIN studentCourse sc ON s.id=sc.studentId
JOIN course c ON sc.courseId=c.id
JOIN department d ON s.majorId=d.id
WHERE s.majorId = c.deptId
GROUP BY First_Name, Last_Name
ORDER BY Number_of_Courses DESC, First_Name, Last_Name;

In [ ]:
-- 9.  List Name and Average of students with less than 50%
SELECT firstname AS First_Name, lastname AS Last_Name, ROUND(AVG(progress), 1) AS Average_Progress 
FROM student s
JOIN studentCourse sc ON s.id=sc.studentId
GROUP BY First_Name, Last_Name
HAVING Average_Progress < 50 AND Average_Progress < (SELECT AVG(progress) FROM studentCourse)
ORDER BY Average_Progress DESC, First_Name, Last_Name;

In [ ]:
-- 10. List Course Name and Students Average
SELECT c.name AS Course_Name, ROUND(AVG(sc.progress), 1) AS Average_Progress
FROM course c
JOIN studentCourse sc ON c.id=sc.courseId
GROUP BY Course_Name
ORDER BY Average_Progress DESC, Course_Name;

In [ ]:
-- 11. Course with the highest Average Progress
SELECT c.name AS Course_Name, ROUND(AVG(sc.progress), 1) AS Average_Student_Progress
FROM course c
JOIN studentCourse sc ON c.id=sc.courseId
GROUP BY Course_Name
ORDER BY Average_Student_Progress DESC LIMIT 1;

In [ ]:
-- 12. List faculty name and the average progress of all their courses
SELECT f.firstname AS First_Name, f.lastname AS Last_Name, ROUND(AVG(sc.progress), 1) AS Average_Progress 
FROM faculty f
JOIN facultyCourse fc ON f.id=fc.facultyId
JOIN course c ON fc.courseId=c.id
JOIN studentCourse sc ON c.id=sc.courseId 
GROUP BY First_Name, Last_Name
ORDER BY Average_Progress DESC, First_Name, Last_Name;

In [ ]:
-- 13. Min & Max Grades
SELECT s.firstname AS First_Name, s.lastname AS Last_Name, 
        CASE
            WHEN MIN(sc.progress) < 40 THEN 'F'
            WHEN MIN(sc.progress) < 50 THEN 'D'
            WHEN MIN(sc.progress) < 60 THEN 'C'
            WHEN MIN(sc.progress) < 70 THEN 'B'
            WHEN MIN(sc.progress) >= 70 THEN 'A'
        END AS Minimum_Grade, 
        CASE
            WHEN MAX(sc.progress) < 40 THEN 'F'
            WHEN MAX(sc.progress) < 50 THEN 'D'
            WHEN MAX(sc.progress) < 60 THEN 'C'
            WHEN MAX(sc.progress) < 70 THEN 'B'
            WHEN MAX(sc.progress) >= 70 THEN 'A'
        END AS Maximum_Grade 
FROM student s
JOIN studentCourse sc ON s.id=sc.studentId
GROUP BY First_Name, Last_Name
ORDER BY Minimum_Grade DESC, Maximum_Grade DESC, First_Name, Last_Name;